.gradient-custom {
    /* fallback for old browsers */
    background: gray;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgb(226, 226, 225), rgb(139, 135, 134));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgb(230, 227, 227), rgb(83, 82, 81))
    }

.far {
    color: white;
}
